@font-face {
  font-family: "Jet Brains Mono";
  src: url("/home/rory/Downloads/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff")
    format("woff");
}

body {
  display: grid;
  font-family: "Jet Brains Mono";
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: black;
}

button {
  font-family: "Jet Brains Mono";
}

audio {
  width: 100%;
  height: 65px;
}

table {
  border-style: solid;
}

#greeting {
  grid-row: 1;
}

#track-info {
  grid-row: 2;
}

espy-audio {
  grid-row: 3;
}

file-table {
  grid-row: 4;
  display: grid;
}

#file-picker {
  grid-row: 5;
}

#controls {
  width: 80px;
  float: left;
}

#progress {
  margin-left: 80px;
  border: 1px solid black;
  cursor: pointer;
}

#bar {
  height: 20px;
  background-color: green;
  width: 0;
}

/* file-table styles */
.header {
  grid-row: 1;
}

.column-container {
  grid-row: 2;
  display: grid;
  overflow-y: scroll;
  height: 15em;
  border-style: solid;
  padding-left: 0;
}

.cell {
  border-bottom-style: solid;
  list-style-type: none;
}

.cell > p {
  padding-left: 0.5em;
}

.column-container > .cell:last-of-type {
  border-bottom-style: none;
}
